@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    box-shadow: inset 0px 0px 80px 3px rgb(230, 230, 218);
    min-height: 100vh;
    overflow: auto;
}


/* ==============
    Typography 
=================*/

.logo {
    font-style: italic;
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(7, 1, 1);
    background:linear-gradient( 1deg,rgb(141, 42, 80), transparent 10%) top;
}

.initialMessage {
    text-align: center;
    font-size: 3rem;
    margin: 1em auto;
}

.searchInput {
    margin: 0.5em 0;
    font-size: 1rem;
    color: black;
}

.searchBtn {
    padding: 0;
    font-size: 1rem;
    background-color: rgb(75, 13, 37);
    color: white;
    border: 2px solid  rgb(75, 13, 37);
 }

 .resultAmt {
     font-size: 0.9rem;
 }

 .btn{
    padding: 0;
    font-size: 1rem;
    background-color: rgb(75, 13, 37);
    color: white;
    border: 2px solid  rgb(75, 13, 37);
}

.currentPage {
    padding: 0;
    font-size: 1rem;
    background-color: rgb(170, 92, 122);
    color: white;
    border: 2px solid  rgb(170, 92, 122);
}

input {
    border: 1px solid rgb(87, 15, 43);
}

.itemName, .itemPrice{
    font-size: 1rem;
    margin: 0.3em 0;
}

.itemMsrp {
    font-size: 1rem;
    margin: 0.3em 0;
    text-decoration: line-through;
    font-style: italic;  
}

.itemInfo {
    text-align: center;
}

.itemPrice {
    color:rgb(104, 12, 47);
    font-weight: bolder;
}
/* ==============
    Layout
=================*/

.logo { 
    margin: 0.5em 0;
    padding: 0.2em;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em 1em;
}

.search-form {
    display: inline-block;  
}

.resultDisplay {
    max-width: 95%;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 91.5%;
    margin: 0 auto;
}

.bottomPagination {
    margin-left: auto;
}

.itemCard {
    margin: 0.5em;
}

.itemImg {
   max-width: 80%;
}

/* ==============
    Media Queries 
=================*/

@media (max-width: 400px) {
    .searchInput {
        font-size: 0.7rem;
    }
    
    .searchBtn {
        font-size: 0.7rem;
     }   
}

@media (min-width: 1050px) {
    /* ===========
       Typography
    =============*/

    .logo { 
        font-size: 2.5rem;
    }

    .initialMessage {
        justify-self: center;
        font-size: 2.5rem;
        max-width: 77%;
        margin: 1em auto;
    }

    .searchInput {
        margin: 0.5em 0;
        font-size: 2rem;
        color: black;
    }

    .searchBtn {
        font-size: 2rem;
    }

    .resultAmt, .btn {
        font-size: 1.6rem;
    }

    .itemName, .itemPrice, .itemMsrp{
        font-size: 1.2rem;
    }

    /* ============
        Layout
    ===============*/

    .resultDisplay {
        max-width: 95%;
        margin: 0.5em auto;
        display: grid;
        grid-template-columns: repeat(5, minmax(200px, 1fr));
    }

    
}




